
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
bin/app/App.class
bin/business/Avaliacao.class
bin/business/Cliente.class
bin/business/ClienteEspecialista.class
bin/business/exceptions/ElementoJaExisteException.class
bin/business/exceptions/LoginInvalidoException.class
bin/business/Filme.class
bin/business/interfaces/ICliente.class
bin/business/Lista.class
bin/business/Midia.class
bin/business/PlataformaStreaming.class
bin/business/Serie.class
bin/README.md
codigo/test/AvaliacaoTest.java
codigo/test/ClienteEspecialistaTest.java
codigo/test/ClienteTest.java
codigo/test/FilmeTest.java
codigo/test/PlataformaStreamingTest.java
codigo/test/SerieTest.java
docs/database/Espectadores.csv
docs/database/Filmes.csv
docs/database/Series.csv
projetos_3_4_e_5-grupo-02.iml
/bin/
